@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);



#caixaFeira{
    border: 4px solid var(--primary);
    height: auto;
    margin: 40px;
    border-radius: 10px;
}

#tituloFeira{
    text-align: center;
    font-size: 24pt;
}

#descricaoFeira, #localizacaoFeira, #precoFeira, #datasFeira{
    text-align: center;
    font-size: 18pt;
    font-family: 'itim' , sans-serif;
}


#datasFeira{
    padding: 30px;
}

#precoFeira{
    margin-top: 60px;
}