@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);



#caixaFeira{
    background-color: #D2B48C;
    height: auto;
    margin: 40px;
    border-radius: 10px;
}

#tituloFeira{
    text-align: center;
    font-size: 24pt;
}

#descricaoFeira, #localizacaoFeira, #precoFeira, #datasFeira{
    text-align: center;
    font-size: 18pt;
    font-family: 'itim' , sans-serif;
}


#datasFeira{
    padding: 30px;
}

#precoFeira{
    margin-top: 60px;
}

#imagemFeiras{
    padding: 10px;

}

#caixaFeira:hover{
    border: 5px solid var(--primary);
}

#dadosD{
    border-radius: 10px;
    background-color: rgba(15, 105, 121, 0.774);
}