
body{
  background: rgb(210,180,140) !important;
  background: linear-gradient(180deg, rgba(210,180,140,1) 48%, rgba(209,207,172,1) 86%) !important;
  background-repeat: no-repeat !important;
  margin: 50px !important;
  height: auto !important;
  }

  .navbar{
    width: auto !important;
    margin-top: -55px !important;
  }
  
a{
  color: black !important;
}

#artesaos, #produtos, #feiras{
  box-shadow: 5px 5px 15px 15px gray !important;
  
  background: rgb(210,180,140) !important;
  background: linear-gradient(180deg, rgba(210,180,140,1) 48%, rgba(209,207,172,1) 86%) !important;
  height: 500px !important;
  width: 500px !important;
  margin-top: 100px !important;
  margin-right: 50px !important;
  margin-left: 50px !important;
  border-radius: 20px !important;
  opacity: 80% !important;
}

#artesaos, #produtos{
  float: left !important;
}

#feiras{
  float: right !important;
}

#titulo{
  font-size: 20pt !important;
  font-family: 'itim', 'sans serif' !important;
  text-align: center !important;
  padding: 20px !important;
}

#img{
  margin: 10px auto !important;
  display: flex !important;
  border-radius: 15px !important;
}

#content{
  font-size: 15pt !important;
  text-align: justify !important;
  font-family: 'itim' !important;
  padding: 20px !important;
}

#artesaos:hover, #produtos:hover, #feiras:hover{

  margin-top: 120px !important;
  opacity: 120% !important;
  cursor: pointer !important;

}

#artesaos:active, #produtos:active, #feiras:active{

  margin-top: 130px !important;
  opacity: 120% !important;
  cursor: pointer !important;
  box-shadow: none !important;

  box-shadow: -10px 15px 15px gray !important;
}

#video{
  margin: 50px auto !important;
  display: flex !important;
  justify-content: space-around !important;
  background: rgb(92,87,7) !important;
  background: radial-gradient(circle, rgba(92,87,7,1) 25%, rgba(210,180,140,0) 88%) !important;
}

#parte1{
  background-color: transparent !important;
  height:  725px !important;
}

#parte2{
  background-color: transparent !important;
  height:  700px !important;
  text-decoration: none !important;
}

#parte3{
  background-color: transparent !important;
  height:  500px !important;
  text-decoration: none !important;
}

#videoTit{
  text-align: center !important; 
  margin-top: 20px !important;
  font-family:'itim' !important;
  font-size: 30pt !important;
}

#contentSub{
  font-family: 'itim' !important;
  margin: 10px auto !important;
}

#inputEmail{
  width: 400px !important;
  height: 50px !important;
  font-size: 18pt !important;
  border-radius: 10px !important;
  border: none !important;
  margin-top: 50px !important;
  font-family: 'itim' !important;
}

#confirmarEmail{
  width: 200px !important;
  height: 50px !important;
  background-color: blue !important;
  color: white !important;
  font-size: 18pt !important;
  border: none !important;
  border-radius: 10px !important;
  font-family: 'itim' !important;
}

#confirmarEmail:hover{
  cursor: pointer !important;
  background-color: white !important;
  border: 3px solid blue !important;
  color: blue !important;
}