
body{
  background: rgb(210,180,140);
  background: linear-gradient(180deg, rgba(210,180,140,1) 48%, rgba(209,207,172,1) 86%);
  background-repeat: no-repeat;
  margin: 50px;
  height: auto;
  }

  .navbar{
    width: auto !important;
    margin-top: -55px !important;
  }
  
a{
  color: black;
}

#artesaos, #produtos, #feiras{
  box-shadow: 5px 5px 15px 15px gray;
  
  background: rgb(210,180,140);
  background: linear-gradient(180deg, rgba(210,180,140,1) 48%, rgba(209,207,172,1) 86%);
  height: 500px;
  width: 500px;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 20px;
  opacity: 80%;
}

#artesaos, #produtos{
  float: left;
}

#feiras{
  float: right;
}

#titulo{
  font-size: 20pt;
  font-family: 'itim', 'sans serif';
  text-align: center;
  padding: 20px;
}

#img{
  margin: 10px auto;
  display: flex;
  border-radius: 15px;
}

#content{
  font-size: 15pt;
  text-align: justify;
  font-family: 'itim';
  padding: 20px;
}

#artesaos:hover, #produtos:hover, #feiras:hover{

  margin-top: 120px;
  opacity: 120%;
  cursor: pointer;

}

#artesaos:active, #produtos:active, #feiras:active{

  margin-top: 130px;
  opacity: 120%;
  cursor: pointer;
  box-shadow: none;

  box-shadow: -10px 15px 15px gray;
}

#video{
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  background: rgb(92,87,7);
  background: radial-gradient(circle, rgba(92,87,7,1) 25%, rgba(210,180,140,0) 88%);
}

#parte1{
  background-color: transparent !important;
  height:  725px;
}

#parte2{
  background-color: transparent !important;
  height:  700px;
  text-decoration: none !important;
}

#parte3{
  background-color: transparent !important;
  height:  500px;
  text-decoration: none !important;
}

#videoTit{
  text-align: center; 
  margin-top: 20px;
  font-family:'itim';
  font-size: 30pt;
}

#contentSub{
  font-family: 'itim';
  margin: 10px auto;
}

#inputEmail{
  width: 400px;
  height: 50px;
  font-size: 18pt;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
  font-family: 'itim';
}

#confirmarEmail{
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 18pt;
  border: none;
  border-radius: 10px;
  font-family: 'itim';
}

#confirmarEmail:hover{
  cursor: pointer;
  background-color: white;
  border: 3px solid blue;
  color: blue;
}