@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);



#caixaProduto{
    background-color: #D2B48C;
    height: auto;
    margin: 40px;
    border-radius: 10px;
}

#nomeProduto{
    text-align: center;
    font-size: 24pt;
}

#descricaoProduto{
    text-align: center;
    font-size: 18pt;
    font-family: 'itim' , sans-serif;
}

#imagemProduto{
    max-width: 250px;
    margin: auto
    
}

#caixaProduto:hover{
    background-color: #c59d67;
    box-shadow: 10px 10px 10px #D2B48C;
}

